{% include start.html %}
<section>
<h1 class="display">Thinking</h1>
<p class="intro">This is a list of status updates and commentary that is used to populate <a href="http://twitter.com/claycarson">Twitter</a> and other social networks. It is important to me to preserve these comments on my site as social networks come and go.</p>
</section>
<section class="contain baseline sticky">
{% for post in site.categories.Status %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li>{{ post.excerpt | strip_html }}</a><small> &middot; {{ post.date | date: "%m/%d" }}</small></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
</section>
{% include end.html %}