.headline h1 {
	font-size: 48px;
	line-height: 1.08365;
	font-weight: 600;
	letter-spacing: -0.003em;
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.headline h2 {
	font-size: 40px;
	line-height: 1.1;
	font-weight: 600;
	letter-spacing: 0em;
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


h2 {
	font-size: 28px;
	line-height: 1.25;
	font-weight: 500;
}

h3 {
	font-size: 18px;
	line-height: 1.4;
	font-weight: 700;
	margin-top: 1.6em;
}

.post h1 a {
  color: #333;
}

.post h1 a:hover {
  color: #007aff;
}

.post	h2 {
  font-size: 18px;
	line-height: 1.4;
	font-weight: 700;
	margin-top: 1.6em;
}
