#mailchimp input {
	border: 1px solid #333;
	color: var(--color-sub);
	margin-bottom: 10px;
	padding: 8px 10px;
	font-size: .8rem;
	width: 250px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#mailchimp input.email {
	background: #fff
}

#mailchimp input.name {
	background: #fff
}

#mailchimp input[type="submit"] {
	background: #333;
	border: 1px solid #333;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	width: 100px;
	padding: 8px 0
}

#mailchimp input[type="submit"]:hover {
	background: #bbb;
	border: 1px solid #333;
	color: #fff;
	transition: color .2s ease
}
