{% include list-start.html %}
<section>
<h1 class="display">Baseball Stadiums</h1>
<p class="intro">I don't have a life long goal of going to every baseball  team's stadium. Only the good ones. I have used the stadium name from the time I first visited.</p>
</section>
<section class="contain baseline sticky">
{% for entry in site.data.baseball.list %}
<h1 id="y{{post.date | date: "%Y"}}">{{ entry.year }}</h1>
<ul>
{% for location in entry.location %}
<li>
{{ location.title }}
<span>
<small> {{ location.location }} &middot; {{ location.team }} &middot; {{ location.date | date: "%Y/%m/%d" }}</small>
</span>
</li>
{% endfor %}
</ul>
{% endfor %}
</section>
{% include list-end.html %}