<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
{% if page.title == "Home" %}{{ site.title }} {% else %}
      {{ site.title }} &middot; {{ page.title }} 
{% endif %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Clay Carson">
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />
<link rel="stylesheet" href="/css/style.css" type="text/css">
<!-- <script async src="/js/theme.min.js"></script> -->
<!-- <link rel="stylesheet" href="/css/cssbox.css" type="text/css"> -->
</head>
<body>
<header role="banner">
<nav role="navigation">
<a href="/"><h1>{{ site.title }}</h1></a>
<ul>
<!-- <button onclick="switchThemes();">Switch</button> -->
<li><a href="/thinking/">Thinking</a></li>
<li><a href="/reading/">Reading</a></li>
<!-- <li><a href="/reading/books/">Books</a></li> -->
<!-- <li><a href="/reading/audiobooks/">Audiobooks</a></li> -->
<li><a href="/watching/">Watching</a></li>
<!-- <li><a href="/watching/movies/">Movies</a></li> -->
<!-- <li><a href="/watching/series/">Series</a></li> -->
<li><a href="/listening/">Listening</a></li>
<!-- <li><a href="/gaming/">Gaming</a></li> -->
<li><a href="/traveling/">Traveling</a></li>
<!-- <li><a href="/photographing/">Photographing</a></li> -->
<li><a href="/golfing/">Golfing</a></li>
<!-- <li><a href="/baseball/">Baseball</a></li> -->
<li><strong><a href="/newsletter/">Newsletter</a></strong>
</ul>
</nav>
</header>