<nav class=header-wrap>
	<div class="header list limiter no-print">
		<h1><a href="/">Clay Carson</a></h1>
		<ul style=list-style:none;padding:0;margin:0;>
			<li><a href=/about>About</a>
			<li><a href=/newsletter/>Newsletter</a>
		
			<li><a href=/reading/>Reading</a>
			{% if page.title == "Reading" %}</li>
				<extra-small><a href="/reading/books">Books</a></li>
				</br>
				<a href="/reading/audiobooks">Audiobooks</a></li>
				</br>
				<a href="/reading/notes">Notes</a></li></extra-small>
			</br>{% endif %}</li>
			
			{% if page.title == "Books" %}</li>
				<extra-small><a href="/reading/books">Books</a></li>
				</br>
				<a href="/reading/audiobooks">Audiobooks</a></li>
				</br>
				<a href="/reading/notes">Notes</a></li></extra-small>
			</br>{% endif %}</li>
			
			{% if page.title == "Audiobooks" %}</li>
				<extra-small><a href="/reading/books">Books</a></li>
				</br>
				<a href="/reading/audiobooks">Audiobooks</a></li>
				</br>
				<a href="/reading/notes">Notes</a></li></extra-small>
			</br>{% endif %}</li>
			
			{% if page.title == "Reading Notes" %}</li>
				<extra-small><a href="/reading/books">Books</a></li>
				</br>
				<a href="/reading/audiobooks">Audiobooks</a></li>
				</br>
				<a href="/reading/notes">Notes</a></li></extra-small>
			</br>{% endif %}</li>
			
			{% if page.categories == "Book" %}</li>
				<extra-small><a href="/reading/books">Books</a></li>
				</br>
				<a href="/reading/audiobooks">Audiobooks</a></li>
				</br>
				<a href="/reading/notes">Notes</a></li></extra-small>
			</br>{% endif %}</li>
			
						

			
			
			<!-- Watching -->
			<li><a href=/watching/>Watching</a>{% if page.title == "Watching" %}</li><extra-small><a href="/watching/movies">Movies</a></extra-small></li></br><extra-small><a href="/watching/tv">TV</a></extra-small>{% endif %}</li>
			{% if page.title == "Movies" %}</li><extra-small><a href="/watching/movies">Movies</a></extra-small></li></br><extra-small><a href="/watching/tv">TV</a></extra-small>{% endif %}</li>
			{% if page.title == "TV" %}</li><extra-small><a href="/watching/movies">Movies</a></extra-small></li></br><extra-small><a href="/watching/tv">TV</a></extra-small>{% endif %}</li>			         
			<li><a href=/photos/>Photos</a>{% if page.title == "Photos" %}{% endif %}</li>             					
			<li><a href=/subscribe/>Subscribe</a>{% if page.title == "Subscribe" %}{% endif %}</li>
		</ul>
	</div>
</nav>