{% include list-start.html %}
<section>
<h1 class="display">Snapshots</h1>
<p class="intro">This section is coming soon. Eventually, there will probably be a nice grid view off to the right with some individual photos to click on.</p>
</section>

<!-- 
<div class="cssbox">
        <a id="image2" href="#image2"><img class="cssbox_thumb" src="http://files.claycarson.net/photos/album/greece-2018/santorini/greece-1.jpg" />
            <span class="cssbox_full"><img src="http://files.claycarson.net/photos/album/greece-2018/santorini/greece-1.jpg" /></span>
        </a>
        <a class="cssbox_close" href="#void"></a>
        <a class="cssbox_prev" href="#image1">&lt;</a>
        <a class="cssbox_next" href="#image3">&gt;</a>
    </div>
</section>    
 -->



<!-- 
<section class="contain baseline sticky">
<div class="row"> 
  <div class="column">
    <img src="http://files.claycarson.net/photos/album/greece-2018/santorini/greece-1.jpg">
    <img src="http://files.claycarson.net/photos/album/greece-2018/santorini/greece-1.jpg">
    <img src="http://files.claycarson.net/photos/album/greece-2018/santorini/greece-1.jpg">
    <img src="http://files.claycarson.net/photos/album/greece-2018/santorini/greece-1.jpg">
    <img src="http://files.claycarson.net/photos/album/greece-2018/santorini/greece-1.jpg">
    <img src="http://files.claycarson.net/photos/album/greece-2018/santorini/greece-1.jpg">
    <img src="http://files.claycarson.net/photos/album/greece-2018/santorini/greece-1.jpg">
  </div>
  
</div>
</section>
<section class="contain baseline sticky">
{% for post in site.categories.snapshot %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li>{{ post.excerpt | strip_html }}</a><small>{{ post.date | date: "%m/%d" }}</small></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
</section>
 -->

<section>
<h1 class="display">Albums</h1>
<p class="intro">This section is also coming soon. Eventually, there will probably be a nice grid view off to the right with some albums to click on.</p>
</section>
<section class="contain baseline sticky">
{% for post in site.categories.album %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li>{{ post.excerpt | strip_html }}</a> --></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
</section>
{% include list-end.html %}