<section class="contain baseline sticky">
{% for post in site.categories.Status %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li>{{ post.excerpt | strip_html }}</a><small> &middot; {{ post.date | date: "%m/%d" }}</small></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
</section>