// TITLE + NAVIGATION

.nav {
	max-width: 40em;
  margin: 0 auto;
  padding: 1em 0em 0em 0em;
}

.nav-content {
  margin: 0 auto;
}

.nav-title a {
  font-size: 1.25em;
  font-weight: 600;
  font-family: $root-font-family;
  float: left;
	color: $body-color;
	text-decoration: none;
}

.nav-menu {
  font-size: .875em;
  font-weight: 400;
  font-family: $root-font-family;
  float: right;
  padding-right: 3em;
}

.nav-menu a {
	color: $body-color;
	text-decoration: none;
}

.nav-menu a:hover {
	color: $accent-color;
}

// HEADERS

.headline h1 {
	font-size: 3em;
	line-height: 1em;
	font-weight: 600;
	font-family: $root-font-family;
}

.headline h2 {
	font-size: 2.5em;
	line-height: 1.25em;
	font-weight: 600;
	font-family: $root-font-family;
}


h2 {
	font-size: 1.875em;
	line-height: 1.25em;
	font-weight: 500;
}

h3 {
	font-size: 1.25em;
	line-height: 1.5em;
	font-weight: 700;
	margin-top: 1.75em;
}

.post h1 a {
  color: $body-color;
}

.post h1 a:hover {
  color: $accent-color;
}

.post h2 {
	font-size: 1.25em;
	line-height: 1.5em;
	font-weight: 700;
	margin-top: 1.75em;
}

// MAIN

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.column {
	padding: 8em 1em;
	max-width: 40em;
  margin: 0 auto;
}

.footer {
	padding: 2em 1em;
	max-width: 40em;
  margin: 0 auto;
}


p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

ul {
  display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 3em;
}

li {
	margin-bottom: 0.5em;
	display: list-item;
	text-align: -webkit-match-parent;
}


body {
  font-size: 1em;
  line-height: 1.5;
  font-family: $root-font-family;
  background-color: white;
  color: $body-color;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 600;
}

note {
	padding: 0.5em 1em 0.7em;
	border: 1px solid $grey11;
	margin-bottom: 1.5em;
	background-color: $grey10;
	border-radius: 3.25em;
	display: block;
}

small {
	font-size: .875em;
	line-height: 1em;
	color: $grey3;
	margin: 1em 0 .875em;
}

meta {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 0.875em;
	color: $grey7;
}

a {
	color: $accent-color;
}

a:hover {
	text-decoration: none;
}

hr {
  border-top: 1px $grey1;
  width: 60%;
  max-width: 15em;
  margin: 5em auto;
}

blockquote {
	border-left: .25em solid $grey7;
	margin-left: 2em;
	padding-left: 1em;
	color: $grey7;
	font-size: .875em;
	font-style: italic
}


// POSTS

.post a {
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.archive {
  border-bottom: 1px solid $grey1;
}

.archive p {
  margin-bottom: 1.75em;
}

.archive a {
  color: $body-color;
  text-decoration: none;

}

.archive a:hover {
  color: $accent-color;
}

.linked h3 a {
  color: $body-color;
  text-decoration: none;
}

.linked h3 a {
  color: $accent-color;
  text-decoration: none;
}

.linked-arrow a {
	color: $accent-color;
}

.linked-arrow a:hover {
  	color: $body-color;
}

// MAILCHIMP

#mailchimp input {
	border: 1px solid $border-color;
	color: $body-color;
	margin-bottom: .625em;
	padding: .5em .625em;
	font-size: .8rem;
	width: 16em;
	border-radius: .25em;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#mailchimp input.email {
	background: $white
}

#mailchimp input.name {
	background: $white
}

#mailchimp input[type="submit"] {
	background: $accent-color;
	border: 1px solid $accent-color;
	color: $white;
	font-weight: 700;
	cursor: pointer;
	width: 8em;
	padding: .5em 0
}

#mailchimp input[type="submit"]:hover {
	background: $grey10;
	border: 1px solid $border-color;
	color: #fff;
	transition: color .2s ease
}

