html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.column {
	padding: 8em 1.5em;
	max-width: 45em;
  margin: 0 auto;
}

.footer {
	padding: 2em 1.5em;
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
}


p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

ul {
  display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

li {
	margin-bottom: 0.5em;
	display: list-item;
	text-align: -webkit-match-parent;
}


body {
font-size: 16px;
line-height: 1.47059;
font-weight: 400;
font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
background-color: white;
color: #3a3a3c;
font-style: normal;
font-synthesis: none;
-moz-font-feature-settings: 'kern';
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
direction: ltr;
text-align: left;
}

strong {
 font-weight: 600;
}

note {
	padding: 0.5em 1em 0.7em;
	border: 1px solid rgba(0,0,0,0.08);
	margin-bottom: 1.5em;
	background-color: rgba(0,0,0,0.03);
	border-radius: 3.5px;
	display: block;
}

small {
	font-size: .9em;
	line-height: 16px;
	letter-spacing: 0.015em;
	color: #8e8e93;
	margin: 17px 0 11px;
}

sub {
  font-size: 14px;
}

meta {
	margin-top: 0.5em;
	margin-bottom: 0.4em;
	font-size: 0.875em;
	color: #636366;
}

a {
	color: #007aff;
}

a:hover {
	text-decoration: none;
}

hr {
  border-top: 1px #bbb;
  width: 60%;
  max-width: 15em;
  margin: 5em auto;
}

blockquote {
	border-left: 3px solid;
	margin-left: 2em;
	padding-left: 1em;
	color: #636366;
	font-size: .9em;
	font-style: italic
}



