---
layout: photo-list
title: Photos
permalink: /test/photos/
---    

<div class="pad limiter content notitle">
	<div class="body">
		<div class="project-box-full">
				{% for post in site.categories.Photos limit:5 %}
				<a href="{{ post.url }}"><img src="{{ post.image }}"></a>
				<description>
				{% if post.description %}{{ post.description }} &middot; {% endif %}  
				{{ post.image | exif: 'model' }} &middot;
				{{ post.image | exif: 'lens_make' }}
				{{ post.image | exif: 'lens_model' }} &middot;
				{{ post.image | exif: 'focal_length.to_f' }}mm &middot;									
			  f/{{ post.image | exif: 'f_number.to_f' }} &middot;
				{{ post.image | exif: 'exposure_time.to_s' }} &middot;
			ISO {{ post.image | exif: 'iso_speed_ratings' }}				
				</description>
				{% endfor %}
		</div>
		<p style="text-align:center"><a href="/photos/archive">View All</a></p>
	</div>
</div>

