<main>
<article>
<section>
<h1 class="display">Listening</h1>
<p class="intro">I keep a monthly diary of music that I discover or hear while out and about. Each year is also marked with a collection of my favorite newly released tracks and albums. <a href="/blog/2018/mvp-soundsystem/">You can read more about the system here.</a></p>
</section>
<section class="horz-nav">
<strong>Jump to Year:</strong>
<ul>
<li><a href="#2019">2019</a></li>
<li><a href="#2018">2018</a></li>
<li><a href="#2017">2017</a></li>
<li><a href="#2016">2016</a></li>
<li><a href="#2015">2015</a></li>
<li><a href="#2014">2014</a></li>
<li><a href="#2013">2013</a></li>
<li><a href="#2012">2012</a></li>
<li><a href="#2011">2011</a></li>
</ul>
</section>
<a name="2019"></a>
<section class="contain sticky" style="margin-top:4rem">
<div>
<h2>2019</h2>
</div>
<div>
<p>Favorite new releases and logs will be added at the end of the year. You can see in-progress playlists by <a href="">following me on Spotify.</a>
</div>
</section>
<a name="2018"></a>
<section class="contain sticky">
<div>
<h2>2018</h2>
</div>
<div>
<div class="contain sticky">
<div><h3>Favorite Albums</h3></div>
<div>
<ul>
<li>Against All Logic – 2012–2017</li>
<li>Beach House – 7</li>
<li>Charli XCX – Pop 2</li>
<li>DJ Koze – Knock Knock</li>
<li>Grouper – Grid of Points</li>
<li>Julia Holter – Aviary</li>
<li>Leon Vynehall – Nothing Is Still</li>
<li>Low – Double Negative</li>
<li>Nao – Saturn</li>
<li>Nils Frahm – All Melody</li>
<li>Tirzah - Devotion</li>
</ul>
</div>
</div>
<div class="contain">
<div><h3>Favorite Tracks</h3></div>
<div><ul>
<li><a href="/listening/2018/short-list.html">Short List</a> <small>55m</small></li>
<li><a href="/listening/2018/medium-list.html">Medium List</a> <small>2h18m</small></li>
<li><a href="/listening/2018/long-list.html">Long List</a> <small>17h30m</small></li>
</ul></div>
</div>
<div class="contain sticky">
<div><h3>Music Log</h3></div>
<div><ul class="diary">
<li><a href="/listening/2018/01.html">Jan 2018</a></li>
<li><a href="/listening/2018/02.html">Feb 2018</a></li>
<li><a href="/listening/2018/03.html">Mar 2018</a></li>
<li><a href="/listening/2018/04.html">Apr 2018</a></li>
<li><a href="/listening/2018/05.html">May 2018</a></li>
<li><a href="/listening/2018/06.html">Jun 2018</a></li>
<li><a href="/listening/2018/07.html">Jul 2018</a></li>
<li><a href="/listening/2018/08.html">Aug 2018</a></li>
<li><a href="/listening/2018/09.html">Sep 2018</a></li>
<li><a href="/listening/2018/10.html">Oct 2018</a></li>
<li><a href="/listening/2018/11.html">Nov 2018</a></li>
<li><a href="/listening/2018/12.html">Dec 2018</a></li>
</ul></div>
</div>
</div>
</section>
<a name="2017"></a>
<section class="contain sticky">
<div>
<h2>2017</h2>
</div>
<div>
<div class="contain sticky">
<div><h3>Favorite Albums</h3></div>
<div>
<ul>
<li>Björk – Utopia</li>
<li>Fever Ray – Plunge</li>
<li>Four Tet – New Energy</li>
<li>Gabriel Garzón-Montano – Jardín</li>
<li>Juana Molina – Halo</li>
<li>Julie Byrne – Not Even Happiness</li>
<li>Kelela – Take Me Apart</li>
<li>Kendrick Lamar – DAMN.</li>
<li>Kelly Lee Owens – Kelly Lee Owens</li>
<li>Mount Kimbie – Love What Survives</li>
<li>Nick Hakim – Green Twins</li>
<li>Photay – Onism</li>
<li>Priests – Nothing Feels Natural</li>
<li>Slowdive – Slowdive</li>
<li>Washed Out – Mister Mellow</li>
</ul>
</div>
</div>
<div class="contain">
<div><h3>Favorite Tracks</h3></div>
<div><ul>
<li><a href="/listening/2017/short-list.html">Short List</a> <small>1h51m</small></li>
<li><a href="/listening/2017/long-list.html">Long List</a> <small>32h40m</small></li>
</ul></div>
</div>
<div class="contain sticky">
<div><h3>Music Log</h3></div>
<div><ul class="diary">
<li><a href="/listening/2017/01.html">Jan 2017</a></li>
<li><a href="/listening/2017/02.html">Feb 2017</a></li>
<li><a href="/listening/2017/03.html">Mar 2017</a></li>
<li><a href="/listening/2017/04.html">Apr 2017</a></li>
<li><a href="/listening/2017/05.html">May 2017</a></li>
<li><a href="/listening/2017/06.html">Jun 2017</a></li>
<li><a href="/listening/2017/07.html">Jul 2017</a></li>
<li><a href="/listening/2017/08.html">Aug 2017</a></li>
<li><a href="/listening/2017/09.html">Sep 2017</a></li>
<li><a href="/listening/2017/10.html">Oct 2017</a></li>
<li><a href="/listening/2017/11.html">Nov 2017</a></li>
<li><a href="/listening/2017/12.html">Dec 2017</a></li>
</ul></div>
</div>
</div>
</section>
<a name="2016"></a>
<section class="contain sticky">
<div>
<h2>2016</h2>
</div>
<div>
<div class="contain sticky">
<div><h3>Favorite Albums</h3></div>
<div>
<ul>
<li>A Tribe Called Quest – We got it from Here... Thank You 4 Your service</li>
<li>Anderson Paak – Malibu</li>
<li>Angel Olsen – My Woman</li>
<li>ANOHNI – HOPELESSNESS</li>
<li>Chairlift – Moth</li>
<li>Darkstar – Reformer</li>
<li>David Bowie – Blackstar</li>
<li>Frank Ocean – Blonde</li>
<li>Ian Sweet – Shapeshifter</li>
<li>Kaitlyn Aurelia Smith – EARS</li>
<li>Kaytranada – 99.9%</li>
<li>Kendrick Lamar – untitled unmastered.</li>
<li>Nicholas Jaar – Sirens</li>
<li>Olga Bell – Tempo</li>
<li>Radiohead – A Moon Shaped Pool</li>
</ul>
</div>
</div>
<div class="contain">
<div><h3>Favorite Tracks</h3></div>
<div><ul>
<li><a href="/listening/2016/short-list.html">Short List</a> <small>1h13m</small></li>
<li><a href="/listening/2016/long-list.html">Long List</a> <small>11h51m</small></li>
</ul></div>
</div>
<div class="contain sticky">
<div><h3>Music Log</h3></div>
<div><ul class="diary">
<li><a href="/listening/2016/01.html">Jan 2016</a></li>
<li><a href="/listening/2016/02.html">Feb 2016</a></li>
<li><a href="/listening/2016/03.html">Mar 2016</a></li>
<li><a href="/listening/2016/04.html">Apr 2016</a></li>
<li><a href="/listening/2016/05.html">May 2016</a></li>
<li><a href="/listening/2016/06.html">Jun 2016</a></li>
<li><a href="/listening/2016/07.html">Jul 2016</a></li>
<li><a href="/listening/2016/08.html">Aug 2016</a></li>
<li><a href="/listening/2016/09.html">Sep 2016</a></li>
<li><a href="/listening/2016/10.html">Oct 2016</a></li>
<li><a href="/listening/2016/11.html">Nov 2016</a></li>
<li><a href="/listening/2016/12.html">Dec 2016</a></li>
</ul></div>
</div>
</div>
</section>
<a name="2015"></a>
<section class="contain sticky">
<div>
<h2>2015</h2>
</div>
<div>
<div class="contain sticky">
<div><h3>Favorite Albums</h3></div>
<div>
<ul>
<li>Beach House – Depression Cherry</li>
<li>Björk – Vulnicura</li>
<li>Colin Stetson, Sarah Neufeld – Never Were the Way She Was</li>
<li>Dark Star – Foam Island</li>
<li>HNNY – Sunday</li>
<li>Jamie xx – In Colour</li>
<li>Jlin – Dark Energy</li>
<li>Julia Holter – Have You In My Wilderness</li>
<li>Kendrick Lamar – To Pimp A Butterfly</li>
<li>Majical CLoudz – Are You Alone?</li>
<li>Oneohtrix Point Never – Garden of Delete</li>
<li>Petit Noir – La Vie Est Belle</li>
<li>Sufjan Stevens – Carrie & Lowell</li>
<li>Thundercat – The Beyond / Where the Giants Roam</li>
</ul>
</div>
</div>
<div class="contain">
<div><h3>Favorite Tracks</h3></div>
<div><ul>
<li><a href="/listening/2015/short-list.html">Short List</a> <small>1h33m</small></li>
<li><a href="/listening/2015/medium-list.html">Medium List</a> <small>3h14m</small></li>
</ul></div>
</div>
<div class="contain sticky">
<div><h3>Music Log</h3></div>
<div><ul class="diary">
<li><a href="/listening/2015/09.html">Sep 2015</a></li>
<li><a href="/listening/2015/10.html">Oct 2015</a></li>
<li><a href="/listening/2015/11.html">Nov 2015</a></li>
<li><a href="/listening/2015/12.html">Dec 2015</a></li>
</ul></div>
</div>
</div>
</section>
<a name="2014"></a>
<section class="contain sticky">
<div>
<h2>2014</h2>
</div>
<div>
<div class="contain sticky">
<div><h3>Favorite Albums</h3></div>
<div>
<ul>
<li>Amen Dunes – Love</li>
<li>Caribou – Our Love</li>
<li>D’Angelo – Black Messiah</li>
<li>DJ Koze – Reincarnations, Pt. 2</li>
<li>FKA twigs – LP1</li>
<li>Flying Lotus – You’re Dead!</li>
<li>Freedi Gibbs, Madlib – Piñata</li>
<li>Kaja Gunnufsen – Faen Kaja</li>
<li>Kindness – Otherness</li>
<li>Owen Pallett – In Conflict</li>
<li>Rain Dog – Two Words</li>
<li>Sharon Van Etten – Are We There</li>
<li>Spoon – They Want My Soul</li>
<li>Todd Terje – It’s Album Time</li>
<li>Wye Oak – Shriek</li>
</ul>
</div>
</div>
<div class="contain">
<div><h3>Favorite Tracks</h3></div>
<div><ul>
<li><a href="/listening/2014/short-list.html">Short List</a> <small>1h43m</small></li>
<li><a href="/listening/2014/medium-list.html">Medium List</a> <small>6h43m</small></li>
<li><a href="/listening/2014/long-list.html">Long List</a> <small>24h17m</small></li>
</ul></div>
</div>
<div class="contain sticky">
<div><h3>Music Log</h3></div>
<div><ul class="diary">
<li><a href="/listening/2014/01.html">Jan 2014</a></li>
<li><a href="/listening/2014/02.html">Feb 2014</a></li>
<li><a href="/listening/2014/03.html">Mar 2014</a></li>
<li><a href="/listening/2014/04.html">Apr 2014</a></li>
<li><a href="/listening/2014/05.html">May 2014</a></li>
<li><a href="/listening/2014/06.html">Jun 2014</a></li>
<li><a href="/listening/2014/07.html">Jul 2014</a></li>
<li><a href="/listening/2014/08.html">Aug 2014</a></li>
<li><a href="/listening/2014/09.html">Sep 2014</a></li>
<li><a href="/listening/2014/10.html">Oct 2014</a></li>
<li><a href="/listening/2014/11.html">Nov 2014</a></li>
<li><a href="/listening/2014/12.html">Dec 2014</a></li>
</ul></div>
</div>
</div>
</section>
<a name="2013"></a>
<section class="contain sticky">
<div>
<h2>2013</h2>
</div>
<div>
<div class="contain sticky">
<div><h3>Favorite Albums</h3></div>
<div>
<ul>
<li>Agnes Obel – Aventine</li>
<li>Alpine – Gasoline</li>
<li>Baths – Obsidian</li>
<li>Blood Orange – Cupid Deluxe</li>
<li>DARKSIDE – Psychic</li>
<li>Deerhunter – Monomania</li>
<li>DJ Koze – Amygdala</li>
<li>FKA twigs – EP2</li>
<li>iamamiwhoami – Bounty</li>
<li>James Blake – Overgrown</li>
<li>James Holden – The Inheritors</li>
<li>Jon Hopkins – Immunity</li>
<li>Julia Holter – Loud City Songs</li>
<li>Junip – Junip</li>
<li>Laura Veirs – Warp and Weft</li>
<li>Majical Cloudz – Impersonator</li>
<li>Oneohtrix Point Never – R Plus Seven</li>
<li>Shigeto – No Better Time Than Now</li>
<li>Tim Hecker – Virgins</li>
<li>Unknown Mortal Orchestra – II</li>
</ul>
</div>
</div>
<div class="contain">
<div><h3>Favorite Tracks</h3></div>
<div><ul>
<li><a href="/listening/2013/short-list.html">Short List</a> <small>2h10m</small></li>
<li><a href="/listening/2013/medium-list.html">Medium List</a> <small>5h32m</small></li>
<li><a href="/listening/2013/long-list.html">Long List</a> <small>32h25m</small></li>
</ul></div>
</div>
<div class="contain sticky">
<div><h3>Music Log</h3></div>
<div><ul class="diary">
<li><a href="/listening/2013/01.html">Jan 2013</a></li>
<li><a href="/listening/2013/02.html">Feb 2013</a></li>
<li><a href="/listening/2013/03.html">Mar 2013</a></li>
<li><a href="/listening/2013/04.html">Apr 2013</a></li>
<li><a href="/listening/2013/05.html">May 2013</a></li>
<li><a href="/listening/2013/06.html">Jun 2013</a></li>
<li><a href="/listening/2013/07.html">Jul 2013</a></li>
<li><a href="/listening/2013/08.html">Aug 2013</a></li>
<li><a href="/listening/2013/09.html">Sep 2013</a></li>
<li><a href="/listening/2013/10.html">Oct 2013</a></li>
<li><a href="/listening/2013/11.html">Nov 2013</a></li>
<li><a href="/listening/2013/12.html">Dec 2013</a></li>
</ul></div>
</div>
</div>
</section>
<a name="2012"></a>
<section class="contain sticky">
<div>
<h2>2012</h2>
</div>
<div>
<div class="contain sticky">
<div><h3>Favorite Albums</h3></div>
<div>
<ul>
<li>Beach House – Bloom</li>
<li>Chairlift – Something</li>
<li>Daniel Rossen – Silent Hour / Golden Mile</li>
<li>Death Grips – The Money Store</li>
<li>Dirty Projectors – Swing Lo Magellan</li>
<li>Fiona Apple – The Idler Wheel</li>
<li>Frank Ocean – Channel ORANGE</li>
<li>Grizzly Bear – Shields</li>
<li>Hot Chip – In Our Heads</li>
<li>John Talabot – Fin</li>
<li>Kendrick Lamar – good kid, m.A.A.d city</li>
<li>Lotus Plaza – Spooky Action at a Distance</li>
<li>Mac DeMarco – Rock and Roll Night Club</li>
<li>Matthew Dear – Beams</li>
<li>Sharon Van Etten – Tramp</li>
<li>Twin Shadow – Confess</li>
<li>Wild Nothing – Nocturne</li>
</ul>
</div>
</div>
<div class="contain">
<div><h3>Favorite Tracks</h3></div>
<div><ul>
<li><a href="/listening/2012/short-list.html">Short List</a> <small>1h51m</small></li>
<li><a href="/listening/2012/long-list.html">Long List</a> <small>17h25m</small></li>
</ul></div>
</div>
<div class="contain sticky">
<div><h3>Music Log</h3></div>
<div><ul class="diary">
<li><a href="/listening/2012/01.html">Jan 2012</a></li>
<li><a href="/listening/2012/02.html">Feb 2012</a></li>
<li><a href="/listening/2012/03.html">Mar 2012</a></li>
<li><a href="/listening/2012/04.html">Apr 2012</a></li>
<li><a href="/listening/2012/05.html">May 2012</a></li>
<li><a href="/listening/2012/06.html">Jun 2012</a></li>
<li><a href="/listening/2012/07.html">Jul 2012</a></li>
<li><a href="/listening/2012/08.html">Aug 2012</a></li>
<li><a href="/listening/2012/09.html">Sep 2012</a></li>
<li><a href="/listening/2012/10.html">Oct 2012</a></li>
<li><a href="/listening/2012/11.html">Nov 2012</a></li>
<li><a href="/listening/2012/12.html">Dec 2012</a></li>
</ul></div>
</div>
</div>
</section>
<a name="2011"></a>
<section class="contain sticky">
<div>
<h2>2011</h2>
</div>
<div>
<div class="contain sticky">
<div><h3>Favorite Albums</h3></div>
<div>
<ul>
<li>Atlas Sound – Parallax</li>
<li>Bon Iver – Bon Iver</li>
<li>Colin Stetson – New History Warfare Vol. 2</li>
<li>Dan Mangan – Oh Fortune</li>
<li>Destroyer – Kaputt</li>
<li>Kurt Vile – Smoke Ring For My Halo</li>
<li>Little Dragon – Ritual Union</li>
<li>M83 – Hurry Up, We’re Dreaming</li>
<li>Mr Twin Sister – In Heaven</li>
<li>SBTRKT – SBTRKT</li>
<li>St. Vincent – Strange Mercy</li>
<li>The Antlers – Burst Apart</li>
<li>Wye Oak – Civilian</li>
</ul>
</div>
</div>
<div class="contain">
<div><h3>Favorite Tracks</h3></div>
<div><ul>
<li><a href="/listening/2011/short-list.html">Short List</a> <small>1h2m</small></li>
<li><a href="/listening/2011/long-list.html">Long List</a> <small>6h28m</small></li>
</ul></div>
</div>
<div class="contain sticky">
<div><h3>Music Log</h3></div>
<div><ul class="diary">
<li><a href="/listening/2011/01.html">Jan 2011</a></li>
<li><a href="/listening/2011/02.html">Feb 2011</a></li>
<li><a href="/listening/2011/03.html">Mar 2011</a></li>
<li><a href="/listening/2011/04.html">Apr 2011</a></li>
<li><a href="/listening/2011/05.html">May 2011</a></li>
<li><a href="/listening/2011/06.html">Jun 2011</a></li>
<li><a href="/listening/2011/07.html">Jul 2011</a></li>
<li><a href="/listening/2011/08.html">Aug 2011</a></li>
<li><a href="/listening/2011/09.html">Sep 2011</a></li>
<li><a href="/listening/2011/10.html">Oct 2011</a></li>
<li><a href="/listening/2011/11.html">Nov 2011</a></li>
<li><a href="/listening/2011/12.html">Dec 2011</a></li>
</ul></div>
</div>
</div>
</section>
</article>
</main>
