---
layout: default
title: Currently
permalink: /currently
---    

<div class="pad limiter content">
	<h1>{{ page.title }}</h1>
	<h2>Reading</h2>
	<div class="media list">
		{% for item in site.data.media %}
    		{% if item.status == "Current" %}
    			{% if item.media == "Book" %}
					{% include list-media.html %}
				{% endif %}
    		{% endif %}
		{% endfor %}	
	</div>
	<h2>Listening</h2>
	<div class="media list">
		{% for item in site.data.media %}
    		{% if item.status == "Current" %}
    			{% if item.media == "Audiobook" %}
					{% include list-media.html %}
				{% endif %}
    		{% endif %}
		{% endfor %}
	</div>	
	<h2>Watching</h2>
	<div class="media list">
		{% for item in site.data.media %}
    		{% if item.status == "Current" %}
    			{% if item.media == "TV" %}
					{% include list-media.html %}
				{% endif %}
    		{% endif %}
		{% endfor %}
	</div>