---
layout: page
title: Gaming
permalink: /gaming/
---

{% include list-start.html %}
<section>
<h1 class="display">Gaming</h1>
<p class="intro">In the spring of 2019 I built my first PC. Naturally, I felt the need to log the games I complete or play extensively. I do hope to go back one day and catalog my previous gaming life.</p>
</section>
<section class="contain baseline sticky">
{% for entry in site.data.gaming.list %}
{% include media-list.html %}
{% endfor %}
</section>
{% include list-end.html %}