---
layout: page
title: Golfing
permalink: /golfing/
---

{% include list-start.html %}
<section>
<h1 class="display">Golfing</h1>
<p class="intro">"Comparing the small amount of land utilised for golf with the large amount devoted to agriculture, we get infinitely more value out of the former than the latter. We all eat too much. During the Great War the majority were all the fitter for being rationed and getting a smaller amount of food, but none of us get enough fresh air, pleasurable excitement, and exercise."<br><small>&mdash; Dr. Alister MacKenzie</small></p>
</section>
<section class="contain baseline sticky">
{% for entry in site.data.golfing.list %}
{% include location-list.html %}
{% endfor %}
</section>
{% include list-end.html %}