---
layout: page
title: Music
permalink: /listening/
---

{% include list-start.html %}
<section>
<h1 class="display">Listening</h1>
<p class="intro">I consider all of these albums among my favorites but many of them are listed here because they have special personal meaning.</p>
<p><small>Last updated  &middot; {{ site.data.music.lastupdate }}</small></p>
</section>
<section class="contain baseline sticky">
{% for entry in site.data.music.list %}
{% include media-list.html %}
{% endfor %}
</section>
{% include list-end.html %}