---
layout: page
title: Photos
permalink: /photos/
---

<div class="headline"><h2>Photo Albums</h2></div>
{% for post in site.categories.album | limit: 3 %}
<div class="post">
<h3><a href="{{ post.url }}">{{ post.title }}</h3>
<img src="{{ post.feature }}"></a>
</div>
{% endfor %}
<a href="/photos/albums">View All</a>

<div class="headline"><h2>Snapshots</h2></div>
<div class="list">
{% for entry in site.data.albums-snapshots.snapshots %}
<div class="list">
<ul>
{% for images in entry.images %}
<li>
<!-- {{ images.title }} -->
<img src="{{ images.url }}">
</li>
{% endfor %}
</ul>
</div>
{% endfor %}
</div>