---
layout: page
title: Watching
permalink: /watching/
---

{% include list-start.html %}
<section>
<h1 class="display">Movies</h1>
<p class="intro">To the best of my knowledge, this is a list of every movie I have ever seen. You can view a full list of those movies on <a href="https://www.imdb.com/list/ls035397007/">IMDB</a> or on <a href="https://letterboxd.com/claycarson/">Letterboxd</a>.</p>
</section>
<section>
<h1 class="display">Series</h1>
<p class="intro">It is hard to consider this a complete list since series tend to come and go but I do my best to keep track <a href="/watching/series">here</a>.</p>
</section>
{% include list-end.html %}